@import "~bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,700;1,200;1,300;1,400;1,500&display=swap");
@import "custom.scss";

$primary-color: #4d8ef7;
$barrier: 850px;

* {
  margin: 0px;
  padding: 0px;
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  color: $primary-color;
}

.total {
  display: flex;
  flex-direction: column;
}

.main {
  display: flex;
  justify-content: center;
  height: 100vh;

  h1 {
    text-emphasis: center;
  }

  @media screen and (max-width: $barrier) {
    display: inline;
  }
}
