@import "./App.scss";
$barrier: 850px;

.total-container {
  padding: 10px 20px 20px 20px;
  width: 360px;

  @media screen and (min-width: $barrier) {
    height: 600px;
  }
  
}

.parent-container {
  padding: 10px 20px 20px 20px;
  width: 80%;
  min-width: 360px;
  max-width: 850px;
  margin: 0px auto;

  @media screen and (min-width: $barrier) {
    height: 600px;
  }
  
}

.image-container {
  .image {
    max-width: 100%;
    max-height: 100%;
    box-shadow: 0px 30px 100px -10px rgba(0, 0, 0, 0.4);
    pointer-events: none;
  }
  .mother {
    box-shadow: 0px 30px 100px -10px rgba(0, 0, 0, 0.4);
    pointer-events: none;
  }
}

.body-container {
  position: relative;
  top: -180px;
}

.body-container-up {
  z-index: -10;
  position: relative;
  top: -180px;
}

#drop {
  margin-top: 7px;
  margin-left: 10px;
  color: white !important;
}

.title-area {
  display: flex;
}

h1 {
  font-size: 1000px;
}

h3 {
  font-size: 28px;
}

#buy-button:hover {
  color: white !important;
}
