@import "./App.scss";

.test {
  width: 360px;
  height: 650px;
}

.image {
  max-width: 100%;
  max-height: 100%;
  box-shadow: 0px 30px 100px -10px rgba(0, 0, 0, 0.4);
  pointer-events: none;
}

#drop {
  margin-top: 7px;
  margin-left: 10px;
  color: white !important;
}

.title-area {
  display: flex;
}

h1 {
  font-size: 1000px;
}

h3 {
  font-size: 28px;
}

#buy-button:hover {
  color: white !important;
}
