@import './App.scss';

.signup {
  width: 100%;
  background: radial-gradient($primary-color 15%, #e5f7e4);
}

.settings {
  width: 100%;
  background: radial-gradient($font-color 15%, #e5f7e4);
}

#signup-link {
  color: white;
}

#signup-link:hover {
  cursor: pointer;
}

#forgot-link {
    cursor: pointer;
  color: $font-color;
}

.auth-spinner {
  display: flex;
  justify-content: center;
  height: 250px;
}

#auth-spin {
  margin-top: 100px;
}

.auth-buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.auth-button {
  font-size: 20px;
  height: 50px !important;
  width: 45% !important;
}

.google-auth-button {
  font-size: 20px;
  height: 50px !important;
  width: 93% !important;
}

.edit-button {
  width: 300px;
  text-align: right;
  color: $primary-color;
  text-decoration: underline;
}

.edit-button:hover {
  cursor: pointer;
}

.profile-pic-settings {
  margin-bottom: 10px;
  height: 120px;
  width: 120px;
  border-radius: 50%;
}

#file-upload {
  font-size: 14px;
  width: 150px;
}
