$barrier: 850px;

#flex-column {
    padding-top: 20px;

    @media screen and (min-width: $barrier) {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 25px;
        left: 10px;
    }
    
}

.header-container {
    width: 100px;
    min-width: 100px;

    @media screen and (max-width: $barrier) {
        width: 100%;
    }
}