@import "./custom.scss";
$barrier: 850px;

#flex-column {
  padding-top: 20px;

  @media screen and (min-width: $barrier) {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 45px;
    left: 10px;
  }
}

.header-link {
  text-decoration: none !important;
  transition: 0.2s;
}

.header-link:hover {
  transition: 0.2s;
  color: $font-color;
}
